<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bookshelf.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <form method="get" action="/bookShelf/detail" name="detail" id="formTrasparent" class="bookInform">
        <input type="text" name="title">
        <input type="text" name="author">
        <input type="text" name="isbn">
        <input type="text" name="cover">
        <input type="text" name="publisher">
        <input type="text" name="description">
    </form>
    <div class="bookshelf">
        <div class="bookCard">
            <div class="bookImage" onclick="bookDescription()">
                <img src="http://image.aladin.co.kr/product/3226/50/coversum/8984317470_3.jpg">
            </div>
            <div class="bookTilte" onclick="bookDescription()" id="title">
                <p>높고 푸른 사다리</p>
            </div>
            <div class="bookISBN13" onclick="bookDescription()" id="isbn">
                <p>9788984317475</p>
            </div>
        </div>
    </div>
</body>
<script>

    function bookDescription() { //axios로 상세페이지에 연결되게 
        const form = document.forms['detail'];
        const data = {
            title: document.getElementById("title").innerText,
            isbn13: document.getElementById("isbn").innerText
        }
        //DB에서 데이터를 받아와서 form에 저장(안보이게 처리)
        console.log(data);
        axios({
            method: 'get',
            url: 'bookShelf/test',
            params: data
        }).then((res) => {
            //console.log('bookDescription ', res);
            console.log('bookDescription ', res.data[1]);
            // form에 통신해온 db 데이터 저장
            //db도 받아온 코드 참고해서 알라딘 api받아오게
            form.title.value = res.data[1].title;
            form.author.value = res.data[1].author;
            form.isbn.value = res.data[1].isbn13;
            form.cover.value = res.data[1].cover;
            form.publisher.value = res.data[1].publisher;
            form.description.value = res.data[1].description;
            document.detail.submit();
            //window.open(`/bookShelf/detail`);
        }).catch((err) => {
            console.log(err);
        })


    }
</script>

</html>