<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/bookshelf.css">
    <title>Document</title>
</head>


<body>
    <a href="/">책장으로 이동</a>
    <p>북 디테일</p>
    <div class="bookshelf">
        <div class="bookCard" id="bookResult">
        </div>
    </div>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    const resultBox = document.getElementById('bookResult');
    const html = `
        <div class="bookImage" id="bookCover">
                <img src="${urlParams.get('cover')}" id="bookCoverImg">
            </div>
            <div class="bookTilte" id="title">
                <p>지은이 ${urlParams.get('title')}</p>
            </div>
            <div class="bookISBN13" id="isbn">
                <p>ISBN ${urlParams.get('isbn')}</p>
            </div>
            <div class="bookAuthor" id="author">
                <p>지은이 ${urlParams.get('author')}</p>
            </div>
            <div class="bookPub" id="publisher">
                <p>출판사 ${urlParams.get('publisher')}</p>
            </div>
            <div class="bookDes" id="description">
                <p>책 설명 ${urlParams.get('description')}</p>
            </div>
    `
    resultBox.insertAdjacentHTML('beforeend', html);

</script>

</html>