<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
          <!-- jQuery CDN -->
          <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>상세페이지</h1>
    <div id="result"></div>
    <div>
        <form name="comment-form">
            <input type="text" name="c_id" placeholder="id"><br>
            <input type="text" name="c_content" placeholder="content"><br>
            <button type="button" onclick="addComment();">댓글 입력하기</button>
        </form>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const isbn13 = urlParams.get('isbn13');

        console.log(isbn13); // 출력: 9788954699075
        document.addEventListener("DOMContentLoaded", ()=>{
            $.ajax({
            method:'get',
            url:'/getDetail',
            data:{
                ItemId:`${isbn13}`,
             }
            }).done((res) => {
                console.log('알라딘 brendnew res >' , res);
                const detailItem = res[0];
                const resultBox = document.getElementById('result');
                let contentDiv = document.createElement('div');
                let img = document.createElement('img');

                contentDiv.textContent=detailItem.title;
                img.src=detailItem.cover;

                resultBox.appendChild(contentDiv);
                resultBox.appendChild(img);

            });
        });

        function addComment(){
            console.log('isbn',`${isbn13}`);
            const form = document.forms['comment-form'];

            axios({
                method:'post',
                url:'/writeComment',
                data:{
                    c_isbn:isbn13,
                    c_id : form.c_id.value,
                    c_content:form.c_content.value,
                }
            }).then((res) => {
                console.log('댓글 작성 성공:', res);
                // 여기에서 원하는 동작을 수행할 수 있습니다.
            }).catch((error) => {
                console.error('댓글 작성 실패:', error);
            });
        }
    </script>
</body>
</html>