<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/follower.css">
    <title>follower</title>
  </head>
  <body>
    <div id="top">
      <a href="/main"><img src="../static/img/logo.png" /></a>
    </div>
    <div>@cyunlee</div>

    <div class="follower">
      <div class="profile-image"></div>
      <div class="profile-name"></div>
    </div>
    <div class="follower">
        <div class="profile-image"></div>
        <div class="profile-name"></div>
      </div>
  </body>
</html>

