<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="static/js/login.js"></script>
	<script src="static/js/follow.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>index</title>
</head>
<body>
	<h1>임시 index페이지</h1>
	<a href="/main">메인</a>
	<% if (!isLogin) { %>
		<a href="/login">로그인</a>
		<a href="/signup">회원가입</a>
	<% } %>
	<% if (isLogin) { %>
		<a href="/mypage">마이페이지</a>
		<p><%=id%>님 환영합니다!</p><br><br><br>

		팔로우할 사람: <input id="follow" type="text"><button onclick="follow()">팔로우</button>
		<br>
		언팔<button onclick="unfollow()">언팔로우</button><br>
		당신의 팔로워: 
		<br>
		당신의 팔로잉:
		<br>


		<br><br><br>
		<button type='button' onclick='logout()'>
		로그아웃</button>

		<button type='button' onclick="location.href='/makeRoom';">
			소통방생성</button>
	<% } %>
	<a href="/otherpage">다른사람 페이지</a>
	
	<h2>임시 검색창</h2>
	<form action="/searchList" method="get">
		<input type="text" name="title" id="" placeholder="책 제목으로 검색">
		<button>검색</button>
	</form>
	<!-- 그런데 검색 기능 책 제목으로만 할 건지, 제목+저자로 할 건지 정하기
	/ 일단 제목으로만 검색되게 설정해둠-->


</body>
</html>