<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index</title>
</head>
<body>
	<h1>임시 index페이지</h1>
	<a href="/login">로그인</a>
	<a href="/signup">회원가입</a>

	<h2>임시 검색창</h2>
	<form action="/search" method="get">
		<input type="text" name="title" id="" placeholder="책 제목으로 검색">
		<button>검색</button>
	</form>
	<!-- 그런데 검색 기능 책 제목으로만 할 건지, 제목+저자로 할 건지 정하기
	/ 일단 제목으로만 검색되게 설정해둠-->

</body>
</html>