<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>임시 login</title>
</head>
<body>
	<a href="/">HOME으로</a><br>
	<a href="/signup">회원가입</a><br>
	<form action="/loginPost" method="POST">
		아이디<input type="text" id="id" placeholder="ID"><br>
		비번<input type="password" id="pw" placeholder="PW"><br>
		<button>로그인</button>
	</form>
</body>
</html>