<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인</title>
</head>
<body>
	<a href="/">HOME으로</a><br>
	<a href="/signup">회원가입</a><br>
	<form name="login">
		<label for="id">ID</label>
		<input type="text" id="id" name="id"><br>
		<label for="pw">Password</label>
		<input type="password" id="pw" name="pw"><br>
		
		<button type="button">Sign In</button>
	</form>
</body>
</html>