<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<link href="static\css\mystyle.css" rel="stylesheet" />
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<!-- axios CDN -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<div>
	<header>
		<div id="top">
			<div style="color: white; font-size: 40px;" class="box">로고자리
				<!--<div id="top_logo">
				<img src="C:\Users\82105\Desktop\github\book-project\static\img\logo_top_en_US.gif">
			</div>-->
				<div id="top_ad">
					<input type="text" placeholder="통합 검색">
				</div>
				<div id="search">
					<button class="buttonlog">Home</button>
					<button class="buttonlog">LogIn</button>
					<button class="buttonlog">LogOut</button>
				</div>
			</div>

		</div> <!-- top -->
		<div style="margin-top: 30px; text-align: center;">
			<!-- <input type="text" style="width: 50%;"/> -->
		</div> <!-- logo -->
	</header>

	<!-- 헤더영역 -->
	<nav id="main_menu">
		<div class="box">
			<ul class="box-ul">
				<li>카테고리</li>
				<a href="#new_books">신간 추천</a>
				<a href="#best_sellers">베스트셀러</a>
				<a href="#review_ranking">리뷰 순위</a>
				<a href="#liked_best">좋아요 베스트</a>
			</ul>
		</div>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				function scrollToCategory(categoryId) {
					var categoryElement = document.getElementById(categoryId);
					if (categoryElement) {
						categoryElement.scrollIntoView({ behavior: 'smooth' });
					}
				}

				// Add click event listeners to each category link
				document.querySelector('a[href="#new_books"]').addEventListener('click', function () {
					scrollToCategory('new_books_section');
				});

				document.querySelector('a[href="#best_sellers"]').addEventListener('click', function () {
					scrollToCategory('best_sellers_section');
				});

				document.querySelector('a[href="#review_ranking"]').addEventListener('click', function () {
					scrollToCategory('review_ranking_section');
				});

				document.querySelector('a[href="#liked_best"]').addEventListener('click', function () {
					scrollToCategory('liked_best_section');
				});
			});
		</script>
	</nav>

	<!-- 메인 페이지 -->
	<section class="content_box" id="best_sellers_section">
		<div class="box">
			<h3>베스트셀러</h3>
			<script>
				$(document).ready(function () {
					
					$.ajax({
						url: 'script.php', // 데이터베이스에서 데이터를 가져오는 서버 측 스크립트의 실제 URL
						method: 'GET',
						dataType: 'json',
						success: function (data) {
							for (var i = 0; i < data.length; i++) {
								var book = data[i];
								var listItem = $('<ul class="items">');
								listItem.append('<li><img src="' + book.image + '"></li>');
								listItem.append('<li class="bookName">' + book.name + '</li>');
								listItem.append('<li class="bookAuthor">' + book.author + '</li>');
								$('#best_sellers_section .box').append(listItem);
							}
						},
						error: function (error) {
							console.error('Error fetching data:', error);
						}
					});
				});
			</script>
		</div>

	</section>
	<div id="content">
		<section class="content_box" id="new_books_section">
			<div class="box">
				<h3>신간 추천</h3>
				<!-- <ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName">나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book2.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book3.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>	 -->
				<script>
					$(document).ready(function () {
					
					$.ajax({
						url: 'script.php', // 데이터베이스에서 데이터를 가져오는 서버 측 스크립트의 실제 URL
						method: 'GET',
						dataType: 'json',
						success: function (data) {
							for (var i = 0; i < data.length; i++) {
								var book = data[i];
								var listItem = $('<ul class="items">');
								listItem.append('<li><img src="' + book.image + '"></li>');
								listItem.append('<li class="bookName">' + book.name + '</li>');
								listItem.append('<li class="bookAuthor">' + book.author + '</li>');
								$('#best_sellers_section .box').append(listItem);
							}
						},
						error: function (error) {
							console.error('Error fetching data:', error);
						}
					});
				});
				</script>
			</div>

		</section>

		<section class="content_box" id="review_ranking_section">
			<div class="box">
				<h3>리뷰 순위</h3>
				<script>
					$(document).ready(function () {
					
					$.ajax({
						url: 'script.php', // 데이터베이스에서 데이터를 가져오는 서버 측 스크립트의 실제 URL
						method: 'GET',
						dataType: 'json',
						success: function (data) {
							for (var i = 0; i < data.length; i++) {
								var book = data[i];
								var listItem = $('<ul class="items">');
								listItem.append('<li><img src="' + book.image + '"></li>');
								listItem.append('<li class="bookName">' + book.name + '</li>');
								listItem.append('<li class="bookAuthor">' + book.author + '</li>');
								$('#best_sellers_section .box').append(listItem);
							}
						},
						error: function (error) {
							console.error('Error fetching data:', error);
						}
					});
				});
				</script>
			</div>

		</section>

		<section class="content_box" id="liked_best_section">
			<div class="box">
				<h3>좋아요 베스트</h3>
				<script>
					$(document).ready(function () {
					
					$.ajax({
						url: 'script.php', // 데이터베이스에서 데이터를 가져오는 서버 측 스크립트의 실제 URL
						method: 'GET',
						dataType: 'json',
						success: function (data) {
							for (var i = 0; i < data.length; i++) {
								var book = data[i];
								var listItem = $('<ul class="items">');
								listItem.append('<li><img src="' + book.image + '"></li>');
								listItem.append('<li class="bookName">' + book.name + '</li>');
								listItem.append('<li class="bookAuthor">' + book.author + '</li>');
								$('#best_sellers_section .box').append(listItem);
							}
						},
						error: function (error) {
							console.error('Error fetching data:', error);
						}
					});
				});
					/* var books = [
						{ image: "C:\\Users\\82105\\Desktop\\github\\book-project\\static\\img\\book1.jpg", name: "나책제목1", author: "나작가1" },
						{ image: "C:\\Users\\82105\\Desktop\\github\\book-project\\static\\img\\book2.jpg", name: "나책제목2", author: "나작가2" },
						{ image: "C:\\Users\\82105\\Desktop\\github\\book-project\\static\\img\\book3.jpg", name: "나책제목3", author: "나작가3" },
						{ image: "C:\\Users\\82105\\Desktop\\github\\book-project\\static\\img\\book3.jpg", name: "나책제목3", author: "나작가3" },
						{ image: "C:\\Users\\82105\\Desktop\\github\\book-project\\static\\img\\book1.jpg", name: "나책제목4", author: "나작가4" }
					];

					for (var i = 0; i < books.length; i++) {
						document.write('<ul class="items">');
						document.write('<li><img src="' + books[i].image + '"></li>');
						document.write('<li class="bookName">' + books[i].name + '</li>');
						document.write('<li class="bookAuthor">' + books[i].author + '</li>');
						document.write('</ul>');
					} */
				</script>
			</div>

		</section>

		<!-- 
	<section id="content_box">
		<div class="box">
			<h3>베스트셀러</h3>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="a"> 나책제목</li>
				<li class="b">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book2.jpg"></li>
				<li class="a"> 나책제목</li>
				<li class="b">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book3.jpg"></li>
				<li class="a"> 나책제목</li>
				<li class="b">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="a"> 나책제목</li>
				<li class="b">나작가  </li>
			</ul>		
		</div>
	</section>

	<section id="content_box">
		<div class="box">
			<h3>신간 추천</h3>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName">나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book2.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book3.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>		
		</div>

	</section>

	<section id="content_box">
		<div class="box">
			<h3>신간 추천</h3>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName">나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book2.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book3.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>
			<ul class="items">
				<li><img src="C:\Users\82105\Desktop\github\book-project\static\img\book1.jpg"></li>
				<li class="bookName"> 나책제목</li>
				<li class="bookAuthor">나작가  </li>
			</ul>		
		</div>

	</section> -->
	</div>
	<footer>
		<div class="box">
			<ul id="footer_menu">
				<li style="margin-right: 5px;">회사소개</li>
				<li style="margin-right: 5px;">채용안내</li>
				<li style="margin-right: 5px;">이용약관</li>
				<li style="margin-right: 5px;">개인정보처리방침</li>
				<li style="margin-right: 5px;">청소년 보호정책</li>
				<li style="margin-right: 5px;">중고매장</li>
				<li style="margin-right: 5px;">제휴·마케팅 안내</li>
				<li style="margin-right: 5px;">판매자 매니저</li>
				<li style="margin-right: 5px;">출판사·공급사 안내</li>
				<li style="margin-right: 5px;">광고 안내</li>
				<li style="margin-right: 5px;">학교·기업·기관 대량구매</li>
			</ul>

			<div class="footers">
				<img src="C:\Users\82105\Desktop\github\book-project\static\img\kyobo_footer.png"
					style="margin-bottom: 20px" /> <!-- 로고 -->
				<h3>교보문고(주)</h3>
				<ul>
					<li>대표이사 : 곽찬혁 | 인천광역시 부평구 열우물로 90 더샵부평센트럴시티 | 사업자등록번호 : 102-81-11670</li>
					<li>대표전화 : 1544-1900(발신자 부담전화) | FAX : 0502-987-5711(지역번호 공통) | 인천광역시 통신판매업신고번호 : 제 653호 </li>
				</ul>
			</div>

		</div>
	</footer>



	</body>

</html>