<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<link href="static\css\mystyle.css" rel="stylesheet" />
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<!-- axios CDN -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../static/js/main.js"></script>

</head>
<div>
	<div>
		<div id="top">
				<a href='/main'><img src="../static/img/logo.png"></a>
				<div id="search"></div>
				<ul class="ul-category">
					<li><a href="#best_sellers_section">베스트셀러</a></li>
					<!-- <li>|</li> -->
					<li><a href="#new_books_section">신간 추천</a></li>
					<!-- <li>|</li> -->
					<li><a href="#review_ranking_section">리뷰 순위</a></li>
					<!-- <li>|</li> -->
					<li><a href="#liked_best_section">좋아요 순위</a></li>
				</ul>

			</div>
			
		</div>
		<div class="top_h2">어쩌라고 저쩌라고 어쩌라고 저쩌라고<br>검색해 검색해 검색</div>
		<div id="top_ad">
			<!-- <form action="/searchList" method="get"> -->
				<input type="text" id="title" name="title" placeholder="통합 검색">
				<!-- <button type="button" id="searchBtn" onclick="search();">검색</button> -->
				<button id="searchBtn">검색</button>
			</form>
		</div>
		<div id="result"></div>
		<div class="top_explain">찾고싶은 책을 입력헤주세요 찾고싶은 책을 입력헤주세요 찾고싶은 책을 입력헤주세요</div>

	</div>

	<!-- 메인 페이지 -->
	<section class="content_box" id="best_sellers_section">
		<div class="box">
			<div class ="index">베스트셀러</div>
			<div id="best-result" class="box-section"></div>
		</div>

	</section>
	<div id="content">
		<section class="content_box" id="new_books_section">
			<div class="box">
				<div class ="index">신간 추천</div>
				<div id="new-result" class="box-section"></div>
			</div>
			
		</section>
		
		<section class="content_box" id="review_ranking_section">
			<div class="box">
				<div class ="index">리뷰 순위</div>
				<div id="review-result" class="box-section"></div>
			</div>
			
		</section>

		<section class="content_box" id="liked_best_section">
			<div class="box">
				<div class ="index">좋아요 베스트</div>	
				<div id="like-result" class="box-section"></div>
			</div>

		</section>

	</div>
	<footer>
		<div class="box">
			<!-- <ul id="footer_menu">
				<li style="margin-right: 5px;">회사소개</li>
				<li style="margin-right: 5px;">채용안내</li>
				<li style="margin-right: 5px;">이용약관</li>
				<li style="margin-right: 5px;">개인정보처리방침</li>
				<li style="margin-right: 5px;">청소년 보호정책</li>
				<li style="margin-right: 5px;">중고매장</li>
				<li style="margin-right: 5px;">제휴·마케팅 안내</li>
				<li style="margin-right: 5px;">판매자 매니저</li>
				<li style="margin-right: 5px;">출판사·공급사 안내</li>
				<li style="margin-right: 5px;">광고 안내</li>
				<li style="margin-right: 5px;">학교·기업·기관 대량구매</li>
			</ul> -->

			<div class="footers">
				<img src="C:\Users\82105\Desktop\github\book-project\static\img\kyobo_footer.png"
					style="margin-bottom: 20px" /> <!-- 로고 -->
				<h3>교보문고(주)</h3>
				<ul>
					<li>대표이사 : 곽찬혁 | 인천광역시 부평구 열우물로 90 더샵부평센트럴시티 | 사업자등록번호 : 102-81-11670</li>
					<li>대표전화 : 1544-1900(발신자 부담전화) | FAX : 0502-987-5711(지역번호 공통) | 인천광역시 통신판매업신고번호 : 제 653호 </li>
				</ul>
			</div>
		</div>
	</footer>
	</body>

</html>