<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="static/js/chat.js"></script>
	<title>채팅방 만들기</title>
</head>
<body>
	책 : <input type="text" placeholder="book name">
	채팅방이름 : <input type="text" placeholder="room name">
	<button onclick="roomMake()">채팅방 생성</button>
</body>
</html>