<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/signup.css" rel="stylesheet" />
	<script defer src="static/js/signup.js"></script>
	<!-- axios cdn -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>회원가입</title>
</head>
<body>
	<div class="left">
		<form name="register">
			<h1>Sign Up</h1>
			<label class="title" for="name">Nickname</label><br>
			<input class="user-input"placeholder="Enter your nickname" type="text" id="name" name="name" onblur="nameCheck()"></input>
			<div class="namediv"></div>
	
			<label class="title" for="email">Email</label><br>
			<input class="user-input" placeholder="Enter your email" type="email" id="email" name="email">
			<div class="emaildiv"></div>
	
			<label class="title" for="id">ID</label><br>
			<input class="user-input" placeholder="Enter your ID" type="text" id="id" name="id" onblur="idCheck()">
			<div class="iddiv"></div>
	
			<label class="title" for="pw">Password</label><br>
			<input class="user-input" placeholder="Enter your password" type="password" id="pw" name="pw"></input>
			<div class="pwdiv"></div>
	
			<button type="button" onclick="signUp()">Create Account</button><br>
		
		<p>Already have an account? <a href="/login">Login Here</a><br> </p>
			
		</form>
	</div>
	<div class="right"></div>

	
</body>
</html>