<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/signup.css" rel="stylesheet"  />
	<title>회원가입</title>
</head>
<body>
	<div class="left">
		<h1>Sign Up</h1><br>
		<form name="register">

			<label for="name">Nickname</label><br>
			<input class="user-input"placeholder="Enter your nickname" type="text" id="name" name="name"></input><br>
	
			<label for="email">Email</label><br>
			<input class="user-input" placeholder="Enter your email" type="email" id="email" name="email"><br>
	
			<label for="id">ID</label><br>
			<input class="user-input" placeholder="Enter your ID" type="text" id="id" name="id"><br>
	
			<label for="pw">Password</label><br>
			<input class="user-input" placeholder="Enter your password" type="password" id="pw" name="pw"></input><br><br>
	
			<button type="button">Create Account</button><br>
		
		<p>Already have an account? <a href="/login">Login Here</a><br> </p>
			
		</form>
	</div>
	<div class="right"></div>

	
</body>
</html>