<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
</head>
<body>
	<a href="/">HOME으로</a><br>
	<form name="register">
		
	</form>
	
</body>
</html>