<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/viewDislikes.css">
    <title>viewDislikes</title>
</head>
<body>
    <div id="top">
    </div>
    <div class="container">
        <div class="button-set">
            <button id="all" onclick="location.href='/viewAll'">전체보기</button>
            <button id="likes" onclick="location.href='/viewLikes'">좋아요</button>
            <button id="dislikes" onclick="location.href='/viewDislikes'">싫어요</button>
        </div>
        <div class="line">
        </div>
        <div class="book-container">
            <div class="book-set">
                <div class="book"></div>
                <div class="book-title">소비의 심리학</div>
            </div>
            <div class="book-set">
                <div class="book"></div>
                <div class="book-title">loremipsum</div>
            </div>
        </div>
    </div>
</body>
</html>