.profile{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image{
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url('/static/img/default-profile.png');
    border-radius: 50%;
}
.profile-image:hover{
    cursor: pointer;
}
.name{
    font-weight: 600;
}
.id{
    color: #c6c6c6;
}

.info{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.record{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.wishlist-container{
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wishlist-info{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}
.wishlist-title{
    color: grey;
}
.finish-container{
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finish-info{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}
.finish-title{
    color: grey;
}
.book{
    min-width: 180px;
    min-height: 225px;
    max-width: 180px;
    max-height: 225px;
    border: 1px solid lightgrey;
    background-color: white;
}
.book:hover{
    cursor: pointer;
}
.review{
    min-width: 250px;
    min-height: 200px;
    max-width: 250px;
    max-height: 200px;
    display: flex;
    background-image: url('/static/img/review-image.png');
    background-size: cover;
    border: 1px solid lightgrey;
    border-radius: 16px;
}
.review:hover{
    cursor: pointer;
}
.text{
    text-align: center;
    padding: 20px;
    margin: auto;
}

body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #565C76;
}

.profile-container{
    width: 85%;
    height: fit-content;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    background-color: #F7F4EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories{
    width: 85%;
    height: fit-content;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 16px;
    background-color: #F6F6F6;
    flex-direction: column;
    align-items: center;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.lifelist{
    display: flex;
    width: 660px;
    justify-content: space-between;
}
.swiper{
    width: 60vw;
    height: fit-content;
}
.follower-container{
    width: fit-content;
    display: flex;
}
.following-container{
    width: fit-content;
    display: flex;
}
.follow-container{
    display: flex;
}
.email-container{
    width: fit-content;
    display: flex;
}
.profile-title{
    font-weight: bold;
    margin-right: 4px;
}
.profile-info{
    margin-right: 10px;
}
h3{
    margin-bottom: 32px;
}
.bookstack{
    width: 360px;
    height: 60px;
    border: 1px solid lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;
}
.bookstack:hover{
    cursor: pointer;
}
.bookstack-title{
    font-size: 18px;
    color: rgb(106, 106, 106);
    background-color: rgb(233, 233, 233);
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 8px;
    border-radius: 16px;
}
.bookstack-list{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.all-container{
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
}
.all{
    border-radius: 16px;
    background-color: black;
    color: white;
}
.all:hover{
    cursor: pointer;
}

