#top{
    height: 100px;
    width:100%;
    background-color: #040c37;
    position:relative;
}
#top a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top a img{
    height: 60px;
}

.profile{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.image-setting{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-image:hover{
    cursor: pointer;
}

.profile-form{
    visibility: hidden;
}

.edit{
    position: absolute;
    top: 170px;
    left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
}
.edit:hover{
    cursor: pointer;
}
.upload{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 195px;
    left: -65px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 14px;
    box-shadow: 6px 6px 6px lightgrey;
}

.select-text{
    padding-bottom: 2px;
}

.select-text:hover{
    background-color: #0969DA;
    color: white;
}

.upload-text{
    border-top: 1px solid lightgrey;
}

.upload-text:hover{
    background-color: #0969DA;
    color: white;
}
.hidden{
    display: none;
}
.hidden1{
    visibility: hidden;
}
.hidden2{
    visibility: hidden;
}
.hidden3{
    visibility: hidden;
}

.name{
    font-weight: 500;
}

.id{
    color: #ADADAD;
}

.info{
    margin-top: 40px;
    width: 700px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line{
    width: 2px;
    height: 110px;
    background-color: #D9D9D9;
    margin: auto;
}

.following-container{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.follower-container{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.wish-container{
    min-width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.read-container{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.number{
    font-weight: 600;
    font-size: 17px;
    margin: auto;
}

.info-text{
    margin: auto;
    font-size: 17px;
}

.lifelist-search{
    position: absolute;
    border: 1px solid lightgrey;
    padding: 14px;
    width: 350px;
    height: 280px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(223, 223, 223);
    display: flex;
    justify-content: space-around;
    z-index:100;
}
.lifelist-input{
    width: 250px;
    height: 30px;
    margin: auto;
}
.lifelist-button{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    margin: auto;
    cursor: pointer;
}

.close1{
    font-size: 24px;
    color: grey;
    cursor: pointer;
}
.close2{
    font-size: 24px;
    color: grey;
    cursor: pointer;
}
.close3{
    font-size: 24px;
    color: grey;
    cursor: pointer;
}

.wishlist-container{
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wishlist-info{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}
.wishlist-title{
    color: grey;
}
.finish-container{
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finish-info{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}
.finish-title{
    color: grey;
}
.book{
    min-width: 180px;
    min-height: 225px;
    max-width: 180px;
    max-height: 225px;
    border: 1px solid lightgrey;
    background-color: white;
}
.book:hover{
    cursor: pointer;
}
.review{
    min-width: 250px;
    min-height: 200px;
    max-width: 250px;
    max-height: 200px;
    display: flex;
    background-image: url('/static/img/review-image.png');
    background-size: cover;
    border: 1px solid lightgrey;
    border-radius: 16px;
}
.review:hover{
    cursor: pointer;
}
.text{
    text-align: center;
    padding: 20px;
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #F1F3F8;
}

.profile-container{
    width: 70%;
    height: fit-content;
    padding: 20px;
    border-radius: 16px;
    background-color: #F1F3F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories{
    width: 70%;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.lifelist{
    display: flex;
    width: 590px;
    justify-content: space-between;
}
.swiper{
    width: 50vw;
    height: fit-content;
}
.follower-container{
    width: fit-content;
    display: flex;
}
.following-container{
    width: fit-content;
    display: flex;
}
.follow-container{
    display: flex;
}
.email-container{
    width: fit-content;
    display: flex;
}
.profile-title{
    font-weight: bold;
    margin-right: 4px;
}
.profile-info{
    margin-right: 10px;
}
h3{
    margin-bottom: 32px;
}
.bookstack{
    width: 360px;
    height: 60px;
    border: 1px solid lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;
}
.bookstack:hover{
    cursor: pointer;
}
.bookstack-title{
    font-size: 18px;
    color: rgb(106, 106, 106);
    background-color: rgb(233, 233, 233);
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 8px;
    border-radius: 16px;
}
.bookstack-list{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.all-container{
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
}
.all{
    border-radius: 16px;
    background-color: black;
    color: white;
}
.all:hover{
    cursor: pointer;
}
.out{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url('/static/img/out.png');
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
}

