/*
헤더 색상 : #280b79;
카테고리별 배경색 : #F5F6F8
*/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR';
}
body{
	margin:0;
	padding:0;
	background-color: #F1F3F8;
}
html{
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

#top {
	height: 100px;
    /* background-color: #1E041D; */
    /* background-color: #040c37; */
    position: relative;
    border-bottom: 1px solid #c1c1c1;
}

#top img {
	height:60px;
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	margin-left: calc((100vw - ((17vw * 5) + (10px * 10))) / 2);
	filter: invert(1);
}

.bookAuthor {
	margin: 0 auto;
	/* border: solid 1px blue; */
}

#top_ad {
	display: inline-block;
	text-align: center;
	/* margin: 50px 30px 500px 500px; */
	font-size: 35px;
	display: flex;
    /* width: 100vw; */
    justify-content: center;
	position:relative;
}
.top_h2{
	margin: 12vh auto 5vh auto;
    font-size: 30px;
	text-align: center;
}
.top_explain{
	margin :1vh auto 10vh auto;
	font-size: 14px;
    color: gray;
	text-align: center;
}
#search {
	/* border: solid 2px #280b79; */
	position: absolute;
	border: none;
	float: right;
	background-image: url("img/search_bg.png");
	top: 15px;
    right: calc((100vw - ((17vw * 5) + (10px * 12))) / 2);
}
.buttonlog{
	color:#040c37;
    border: none;
    /* color: white; */
    cursor: pointer;
    width: 90px;
    height: 34px;
    font-size: 16px;
	border-radius: 5px;
	background-color: #F1F3F8;

}
.buttonlog:hover{
	background-color: gray;
	color:white;
}

#searchBtn{
	/* position:absolute;
	right: 26%;
    top: 50%;
    transform: translateY(-50%); */
	width: 10vh;
	height: 6vh;
    border: none;
    background-color: #d7d7d7;
	cursor: pointer;
	margin-left: -8px;
}

#searchBtn:hover{
	background-color: #040c37;
	color:white;
	font-weight: 600;
}

.ul-category{
	color: white;
    list-style: none;
    position: absolute;
    bottom: 15px;
    right: calc((100vw - ((17vw * 5) + (10px * 10))) / 2);
}
.ul-category li{
	padding-bottom: 5px;
	float: left;
	margin-left: 20px;
}
.ul-category li a{
	color:#040c37;
	text-decoration: none;
	
}
.ul-category li a:hover{
	font-weight: 600;
	/* border-bottom:2px solid #040c37; */
}
#search input {
	margin: 19px 0 0 25px;	
	height: 20px;
	border: 0;
}
#title{
	width: 50vh;
    height: 6vh;
    border: none;
    padding: 0 5vh;
}


#jjim {
	float: left;
	margin: 55px 0 0 20px;
}
#logo_image {
	float: left;
	margin: 30px 0 0 420px;
}
#main_menu {
	border: solid 2px #280b79;
	width: 95%;
	padding: 25px 20px;
	font-size: 12px;
	margin: 30px 30px ;
	border-radius: 20px;
}
#main_menu a {
	display: inline;
	margin-left: 30px;
}
#main_menu li {
	display: inline;
	margin-left: 30px;
	font-size: 35px;
}

.box-section{
	/* width:100vw;
	height:300px; */
	display: flex;
    /* justify-content: center; */
	margin-right: calc((100vw - ((17vw * 5) + (10px * 12))) / 2);
    margin-left: calc((100vw - ((17vw * 5) + (10px * 12))) / 2);
}

.each-selection button{
	/* width: 200px;
    height: 290px; */
	width: 17vw;
    height: 26vw;
	margin: 0 10px;
    border: none;
	background-color: white;
	cursor: pointer;
}
.each-selection button img{
    /* width: 200px;
    height: 240px; */
	width: 17vw;
    height: 23vw;
}
.each-selection button div{
	width: 16vw;
	height:2vw;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 1vh 1vh 0 1vh;
}


.content_box {
	/* background-color: #F5F6F8; */
	height: 33vw;
	/* border: solid 1px black; */
}

.content_box .index {
	margin: 30px calc((100vw - ((17vw * 5) + (10px * 10))) / 2);
	font-size: 18px;
    font-weight: 600;
	
}
.items {
	background-color: #F5F6F8;
	margin: 20px;	
	float: left;
}
.items li {
	background-color: #F5F6F8;
	font-family: "돋움";
	color: #666666;
}
.items .bookAuthorookName {
	background-color: #F5F6F8;
	font-weight: bold;
	color: black;
	margin-top: 20px;
}
.items .bookAuthor {
	background-color: #F5F6F8;
	font-weight: bold;
	color: black;
	margin-top: 5px;
}
.items .bookAuthor span {
	background-color: #F5F6F8;
	color: #a26f59;
}


footer {
	height: 250px;
	border-top: solid 1px #cccccc;
	margin-top: 70px;
}
#footer_menu {
	padding: 20px;
}
#footer_menu li {
	display: inline;
}
.footers {
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 80px;
	float: left;
}
.footers li {
	margin-top: 8px;
	font-size: 12px;
}
.footers span {
	font-weight: bold;
}
li > img {
	width: 300px;
	height: 461px;
	margin: 5px;
}
#result{
	background-color: white;
	width: calc( 50vh + 10vh + 80px);
	/* height:40vh; */
	/* overflow: scroll; */
	position: absolute;
	z-index: 200;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width : 1024px) and (min-width:767px){
	#top img{
		margin-left: calc((100vw - ((16vw * 5) + (10px * 10))) / 2);
	}
	.ul-category, #search{
		margin-right: calc((100vw - ((16vw * 5) + (10px * 10))) / 2);
	}
	.box-section {
		display: flex;
		/* justify-content: center; */
		margin-right: calc((100vw - ((16vw * 5) + (10px * 12))) / 2);
		margin-left: calc((100vw - ((16vw * 5) + (10px * 12))) / 2);
	}
	.top_explain{
		margin: 1vh auto 8vh auto;
	}
	.top_h2{
		margin: 10vh auto 3vh auto;
		font-size: 26px;
	}
	.content_box .index {
		margin: 1vw calc((100vw - ((16vw * 5) + (10px * 10))) / 2) 1vw calc((100vw - ((16vw * 5) + (10px * 10))) / 2);
		/* font-size: 18px;
		font-weight: 600; */
	}
	.each-selection button{
		/* width: 200px;
		height: 290px; */
		width: 16vw;
		height: 25vw;
		margin: 0 10px;
		border: none;
		background-color: white;
		cursor: pointer;
	}
	.each-selection button img{
		/* width: 200px;
		height: 240px; */
		width: 16vw;
		height: 22vw;
	}
	.each-selection button div{
		width: 16vw;
		background-color: white;
		height: 3vw;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0;
		font-size: 12px;
	}
	
}



@media screen and (max-width:766px){
	
	#top img {
		/* margin-left: calc((100vw - ((16vw * 5) + (10px * 10))) / 2); */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-left: 0;
		height: 50px;
	}
	#title{
		width: 30vw;
		height: 5vh;
		border: none;
		padding: 0 5vh;
	}
	#searchBtn {
		width: 10vw;
		height: 5vh;
		border: none;
		background-color: #d7d7d7;
		cursor: pointer;
		margin-left: -8px;
	}
	.ul-category, #search{
		margin-right: calc((100vw - ((16vw * 5) + (5px * 12))) / 2);
		display: none;
	}
	.box-section {
		display: flex;
		/* justify-content: center; */
		margin-right: calc((100vw - ((16vw * 5) + (5px * 12))) / 2);
		margin-left: calc((100vw - ((16vw * 5) + (5px * 12))) / 2);
	}
	.top_explain{
		margin: 1vh auto 5vh auto;
		font-size: 12px;
		width: 49vw;
	}
	.top_h2{
		margin: 6vh auto 1vh auto;
		font-size: 20px;
		width: 50vw;
	}
	.content_box .index {
		margin: 3vw calc((100vw - ((16vw * 5) + (5px * 10))) / 2) 1vw calc((100vw - ((16vw * 5) + (5px * 10))) / 2);
		font-size: 16px;
	}
	.each-selection button {
		width: 16vw;
		height: 22vw;
		margin: 0 5px;
		border: none;
		background-color: white;
		cursor: pointer;
	}
	.each-selection button img{
		/* width: 200px;
		height: 240px; */
		width: 16vw;
		height: 22vw;
	}
	.each-selection button div{
		display: none;
	}
	
}